doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='/css/style.css')
        title CNID Tech Test
    body
        h1 CNID Tech Test
        div.content
            block content
